header {
  background-color: #1f2224;
  color: whitesmoke;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: center;
}

.main {
  display: flex;
}
.sectionForm {
  color: whitesmoke;
  background-color: rgba(36, 38, 41, 0.975);
  box-sizing: border-box;
}

.sectionForm div {
  margin-top: 0.7em;
}

.sectionForm ul {
  padding: 25px;
}

.sectionForm {
  align-items: left;
  justify-content: left;
}

input {
  background-color: #1f2224;
  border-style: none;
  border-radius: 5px;
  color: whitesmoke;
}

#button {
  background-color: #6f1d7b;
  color: whitesmoke;
  text-align: center;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 5px;
}

#button:hover {
  background-color: whitesmoke;
  color: #6f1d7b;
  cursor: pointer;
  transition-duration: 0.5s;
}

#date {
  background-color: #1f2224;
  width: 11.3em;
  text-align: center;
}

#form-select {
  background-color: #1f2224;
  width: 11.3em;
  border-style: none;
  border-radius: 5px;
  color: whitesmoke;
}

.divImg {
  height: 20em;
  width: 30em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.resultSort {
  display: flex;
  flex-wrap: wrap;
}
