header {
  background-color: #1f2224;
  color: whitesmoke;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  height: 5.4em;
}

.sortForm {
  margin: 0 auto;
  padding-top: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  height: 700px;
  width: 645px;
  background-color: whitesmoke;
  color: #1f2224;
}

.sortForm div {
  margin-top: 0.5em;
}

h2 {
  margin-left: 50%;
  transform: translateX(-50%);
}
