<!DOCTYPE HTML>

<html>

<head>
	<title>PassionFroid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="icon" href="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="https://www.passionfroid.fr/"></a><img
				src="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png" width="99em"
				alt="logo_PassionFroid"></a>
			<h1><a href="sort"><strong>Filtrer</strong></a></h1>
			<nav>
				<ul>
					<li><a href="#footer" class="icon solid fa-info-circle">Connexion</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
		{% for img in image_db.get_x_random_images(limit=12, additional_filter={'format': False}) -%}
			{% set full_url, thumb_url = image_db.get_image_url(img) %}
			<article class="thumb">
				<a href="{{ full_url }}" class="image"><img src="{{ thumb_url }}" alt="" /></a>
				<h2>Ceci est une image</h2>
				<p>Ceci est une description d'image.</p>
			</article>
		{% endfor %}
		</div>

		<!-- Footer -->
		<footer id="footer" class="panel">
			<div class="inner split">
				<div>
					<section>
						<h2>Connexion</h2>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field half">
									<input type="text" name="password" id="password" placeholder="Mot de passe" />
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send" class="primary" /></li>
							</ul>
						</form>
					</section>
				</div>
				<div>
					<section>
						<h2>Inscription(Peut etre)</h2>
						<!-- on voit si on en fait un form d'inscription sinon on supr -->
						<!-- <form method="post" action="#"> 
							<div class="fields">
								<div class="field half">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field half">
									<input type="text" name="email" id="email" placeholder="Email" />
								</div>
								<div class="field">
									<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</form> -->
					</section>
				</div>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.poptrox.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>