<!DOCTYPE HTML>

<html>

<head>
	<title>PassionFroid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="icon" href="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
		<link rel="stylesheet" href="static/assets/css/sort.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="https://www.passionfroid.fr/"></a><img
				src="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png" width="100em"
				alt="logo_PassionFroid"></a>
			<h1><a href="index"><strong> Trier</strong></a></h1>
			<nav>
				<ul>
					<li><a href="#footer" class="icon solid fa-info-circle">Connexion</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
			<div class="sortForm">
				<section>
					<h2>Filtrez votre recherche</h2>
					<form method="post" action="#">
						<ul class="actions">
							<div>
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div>
								<select class="form-select" aria-label="Type of image">
									<option selected>Type d'image</option>
									<option value="1">PassionFroid</option>
									<option value="2">Photo Fournisseur</option>
									<option value="3">Logo</option>
								</select>
							</div>
							<div>
								<p>Photo avec produit :</p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioProduct"
										id="inlineRadioProduct1" value="option1">
									<label class="form-check-label" for="inlineRadioProduct1">oui</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioProduct"
										id="inlineRadioProduct2" value="option2">
									<label class="form-check-label" for="inlineRadioProduct2">non</label>
								</div>
							</div>
							<div>
								<p>Photo avec humain :</p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioHuman"
										id="inlineRadioHuman1" value="option1">
									<label class="form-check-label" for="inlineRadioHuman1">oui</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioHuman"
										id="inlineRadioHuman2" value="option2">
									<label class="form-check-label" for="inlineRadioHuman2">non</label>
								</div>
							</div>
							<div>
								<p>Photo institutionnelle :</p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioInsti"
										id="inlineRadioInsti1" value="option1">
									<label class="form-check-label" for="inlineRadioInsti1">oui</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioInsti"
										id="inlineRadioInsti2" value="option2">
									<label class="form-check-label" for="inlineRadioInsti2">non</label>
								</div>
							</div>
							<div>
								<p>Format :</p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioFormat"
										id="inlineRadioFormat1" value="option1">
									<label class="form-check-label" for="inlineRadioFormat1">vertical</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioFormat"
										id="inlineRadioFormat2" value="option2">
									<label class="form-check-label" for="inlineRadioFormat2">horizontal</label>
								</div>
							</div>
							<div>
								<input type="text" name="credit" id="credit" placeholder="Crédit photo" />
							</div>
							<div>
								<p>Droit d'utilisation limités :</p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioDroit"
										id="inlineRadioDroit1" value="option1">
									<label class="form-check-label" for="inlineRadioDroit1">vertical</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioDroit"
										id="inlineRadioDroit2" value="option2">
									<label class="form-check-label" for="inlineRadioDroit2">horizontal</label>
								</div>
							</div>
							<div class="form-group row">
								<p>Date de droit de fin d'utilisation :</p>
								<label for="example-date-input" class="col-2 col-form-label"></label>
								<div class="col-10">
									<input class="form-control" type="date" value="2011-08-19" id="example-date-input">
								</div>
							</div>
							<div>
								<input type="text" name="tags" id="tags" placeholder="Tags" />
							</div>
							<li><input type="submit" value="Send" class="primary" /></li>
						</ul>
					</form>
				</section>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer" class="panel">
			<div class="inner split">
				<div>
					<section>
						<h2>Connexion</h2>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field half">
									<input type="text" name="password" id="password" placeholder="Mot de passe" />
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send" class="primary" /></li>
							</ul>
						</form>
					</section>
				</div>
				<div>
					<section>
						<h2>Inscription(Peut etre)</h2>
						<!-- on voit si on en fait un form d'inscription sinon on supr -->
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field half">
									<input type="text" name="email" id="email" placeholder="Email" />
								</div>
								<div class="field">
									<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</form>
					</section>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.poptrox.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>