<!DOCTYPE HTML>

<html>

<head>
	<title>PassionFroid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/sort.css" />
	<link rel="icon" href="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<nav class="navbar navbar-light bg-#1f2224">
			<a href="/">
				<img src="https://www.groupe-pomona.fr/sites/default/files/styles/picto/public/pictos/Logo%20PassionFroid%20V2.png?itok=cuLXWWR4"
					width="85em" alt="logo_PassionFroid">
			</a>
			<h1><strong>Filtrez votre recherche</strong></h1>
			<a href="/dashboard">{{ user.name }}</a>
		</nav>
	</header>

	<!-- Main -->
	<div class="main">
		<section class="sectionForm">
			<form method="post" action="#">
				<ul class="actions">
					<div>
						<input type="text" name="name" id="name" placeholder="Nom/Libellé image" />
					</div>
					<div>
						<select id="form-select" aria-label="Type of image">
							<option selected>Type d'image</option>
							<option value="1">PassionFroid</option>
							<option value="2">Photo Fournisseur</option>
							<option value="3">Logo</option>
						</select>
					</div>
					<div>
						<label>Photo avec un produit :</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioProduct"
								id="inlineRadioProduct1" value="option1">
							<label class="form-check-label" for="inlineRadioProduct1"> Oui</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioProduct"
								id="inlineRadioProduct2" value="option2">
							<label class="form-check-label" for="inlineRadioProduct2"> Non</label>
						</div>
					</div>
					<div>
						<label>Photo avec un humain :</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioHuman" id="inlineRadioHuman1"
								value="option1">
							<label class="form-check-label" for="inlineRadioHuman1"> Oui</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioHuman" id="inlineRadioHuman2"
								value="option2">
							<label class="form-check-label" for="inlineRadioHuman2"> Non</label>
						</div>
					</div>
					<div>
						<label>Photo Institutionnelle :</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioInsti" id="inlineRadioInsti1"
								value="option1">
							<label class="form-check-label" for="inlineRadioInsti1"> Oui</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioInsti" id="inlineRadioInsti2"
								value="option2">
							<label class="form-check-label" for="inlineRadioInsti2"> Non</label>
						</div>
					</div>
					<div>
						<label>L'image est :</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioFormat"
								id="inlineRadioFormat1" value="option1">
							<label class="form-check-label" for="inlineRadioFormat1"> Verticale</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioFormat"
								id="inlineRadioFormat2" value="option2">
							<label class="form-check-label" for="inlineRadioFormat2"> Horizontale</label>
						</div>
					</div>
					<div>
						<input type="text" name="credit" id="credit" placeholder=" Crédit photo" />
					</div>
					<div>
						<label>Droits d'utilisation limités :</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioDroit" id="inlineRadioDroit1"
								value="option1">
							<label class="form-check-label" for="inlineRadioDroit1"> Verticalement</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioDroit" id="inlineRadioDroit2"
								value="option2">
							<label class="form-check-label" for="inlineRadioDroit2"> Horizontalement</label>
						</div>
					</div>
					<div class="form-group">
						<label>Date de fin des droits d'utilisation :</label>
						<div>
							<input type="date" value="2021-02-23" id="date">
						</div>
					</div>
					<div>
						<input type="text" name="tags" id="tags" placeholder=" Tags" />
					</div>
					<div>
						<input id="button" type="submit" value="Recherche" />
					</div>
				</ul>
			</form>
		</section>

		<div class="ResultSort">
		</div>
	</div>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.poptrox.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

</body>

</html>